<div class="sql-home">

    <h3 class="sql-home-title">
        Learn about how to use <a href="http://aka.ms/mlsqldev"> SQL Server Machine Learning Services with Python and R</a>
    </h3>

    {% if site.commonChoices %}
    <div class="sql-home-items">
        {% for option in site.commonChoices %}
        {% assign item = option[1] %}
        <div class="sql-home-item">
           <div class="sql-home-itemflex">
                <a class="sql-home-link sql-home-link--spaced" href="{{item.link}}">{{item.text}}</a>
            </div>
        </div>

        {% endfor %}
    </div>
    {% endif %}

    <footer class="sql-home-footer">
        <div class="sql-home-items">
            <div class="sql-home-item sql-home-item--column">
                <a href="https://db-engines.com/en/blog_post/67" target="_blank"><img class="sql-home-icon sql-home-icon--block" src="http://sqlchoice.azurewebsites.net/en-us/sql-server/developer-get-started/assets/images/award.png" alt=""></a>
                <span class="sql-home-text">Microsoft SQL Server was named DBMS of the Year, 2016!</span>
            </div>

            <div class="sql-home-item sql-home-item--column">
                <a href="https://channel9.msdn.com/Events/Build/2017" target="_blank"><img class="sql-home-icon sql-home-icon--block" src="http://sqlchoice.azurewebsites.net/en-us/sql-server/developer-get-started/assets/images/channel9.png" alt=""></a>
                <span class="sql-home-text">Watch Build videos on Channel 9!</span>
            </div>
        </div>
    </footer>

    <span class="sql-home-message">
        Don't see a programming language you were looking for? Join the conversation on <a class="sql-home-link sql-home-link--underline" href="{{site.gitter}}" target="_blank">Gitter</a>.
        <br>
        <br>
        Contribute to these tutorials on <a class="sql-home-link sql-home-link--underline" href="https://github.com/Microsoft/sqldev/" target="_blank">our GitHub repository</a>!
    </span>
</div>
